/* F - Red Theme - Extended from: https://gist.github.com/1117705
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid 		#a60000 /*{a-bar-border}*/;
	background: 			#f00 /*{a-bar-background-color}*/;
	color: 					#fff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #bf3030 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ff7373 /*{a-bar-background-start}*/), to( #ff4040 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ff7373 /*{a-bar-background-start}*/, #ff4040 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ff7373 /*{a-bar-background-start}*/, #ff4040 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ff7373 /*{a-bar-background-start}*/, #ff4040 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ff7373 /*{a-bar-background-start}*/, #ff4040 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ff7373 /*{a-bar-background-start}*/, #ff4040 /*{a-bar-background-end}*/);
}
.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-bar-f .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}

.ui-bar-f a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-f a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}

.ui-bar-f a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-f a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-body-f,
.ui-overlay-f {
	border: 1px solid 		#4a4a4a /*{a-body-border}*/;
	background: 			#bf3030 /*{a-body-background-color}*/;
	color: 					#fff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c44f4f /*{a-body-background-start}*/), to( #ab2525 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c44f4f /*{a-body-background-start}*/, #ab2525 /*{a-body-background-end}*/);	
}
.ui-overlay-f {
	background-image: none;
	border-width: 0;
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-f .ui-link-inherit {
	color: 	#fff /*{a-body-color}*/;
}

.ui-body-f .ui-link {
	color: #2489ce /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-f .ui-link:visited {
    color: #2489ce /*{a-body-link-visited}*/;
}

.ui-body-f .ui-link:hover {
	color: #2489ce /*{a-body-link-hover}*/;
}

.ui-body-f .ui-link:active {
	color: #2489ce /*{a-body-link-active}*/;
}

.ui-btn-up-f {
	border: 1px solid 		#711414 /*{a-bup-border}*/;
	background: 			#ab2525 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #711414 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c44f4f /*{a-bup-background-start}*/), to( #ab2525 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c44f4f /*{a-bup-background-start}*/, #ab2525 /*{a-bup-background-end}*/);
}
.ui-btn-up-f:visited,
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff /*{a-bup-color}*/;
}
.ui-btn-hover-f {
	border: 1px solid 		#6e0000 /*{a-bhover-border}*/;
	background: 			#b54a4a /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #690101 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d47272 /*{a-bhover-background-start}*/), to( #b54a4a /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d47272 /*{a-bhover-background-start}*/, #b54a4a /*{a-bhover-background-end}*/);
}
.ui-btn-hover-f:visited,
.ui-btn-hover-f:hover,
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff /*{a-bhover-color}*/;
}
.ui-btn-down-f {
	border: 1px solid 		#782323 /*{a-bdown-border}*/;
	background: 			#c44f4f /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 1px /*{a-bdown-shadow-radius}*/ #782323 /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9e3939 /*{a-bdown-background-start}*/), to( #c44f4f /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9e3939 /*{a-bdown-background-start}*/, #c44f4f /*{a-bdown-background-end}*/);
}
.ui-btn-down-f:visited,
.ui-btn-down-f:hover,
.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff /*{a-bdown-color}*/;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}